.introductions {
  background: var(--color-primary);
  color: var(--color-white);
  margin-top: 1.5rem;
  padding: 1.5rem 0;
}

.introductions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sub-title-introductions {
  font-weight: 500;
  font-size: .7rem;
}

.introductions-writer {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 1rem;
  margin: 3rem 0 0;
}