.header {
  background: var(--header-bg);
  color: var(--color-white);
  padding: 3rem 0 0;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.header-left h1 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.header-left p {
  color: var(--text-gray);

}

.header-techs {
  color: var(--text-gray);
  font-size: .9rem;
}

.header-svg {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 1rem;
}

/* ============MEDIA QUERIES========== */
@media screen and (max-width:990px) {
  .header-container {
    gap: 0;
  }

  .header-left h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width:768px) {
  .header {
    line-height: 1.5;
    padding: 2rem 0 0;
  }

  .header-left h1 {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:600px) {
  .header {
    height: 100vh;
    padding: 0;
  }

  .header-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right img {
    width: 70%;
  }
}