nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  background: var(--color-bg);
  color: var(--color-white);
  z-index: 99;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-active {
  background: var(--color-primary);
  border-radius: .5rem;
  padding: 0 .5rem;
}

.nav-active:hover {
  color: var(--color-white) !important;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.nav-logo span {
  padding: .3rem .6rem;
  border-radius: 50%;
  background: var(--color-primary);
}

.nav-menus {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-menus ul {
  display: flex;
  gap: 2rem;
}

.nav-menus li {
  cursor: pointer;
  color: var(--color-white);
}

.nav-menus li:hover {
  color: var(--color-primary);
  transition: var(--transition);
}

.nav-navigation {
  position: relative;
  display: none;
  color: var(--color-white);
}

.nav-btn {
  background: var(--color-primary);
  color: var(--color-white);
}

/* ===========MEDIA QUERIES======== */
@media screen and (max-width:990px) {
  .container {
    width: var(--container-width-md);
  }

  .nav-logo {
    gap: .5rem;
  }

  .nav-menus ul {
    gap: 1rem;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: var(--container-width-sm);
  }

  .nav-navigation {
    display: contents;
  }

  .nav-menus ul {
    padding: .5rem;
    flex-direction: column;
    position: absolute;
    top: 100%;
    gap: 0;
    perspective: 400;
  }

  .nav-menus li {
    background: var(--color-bg);
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-hide {
    display: none;
  }

  .nav-show {
    display: flex;
  }
}

@media screen and (max-width:600px) {
  .nav-menus {
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 40%;
  }

  .nav-menus ul {
    perspective: 400;
  }

  .nav-menus li {
    perspective: 400;
    box-shadow: var(--box-shadow);
    transform: rotateX(-90deg);
    opacity: 0;
    transform-origin: top;
    animation: animateNavbar 600ms ease forwards;
  }

  @keyframes animateNavbar {
    100% {
      transform: rotateX(0deg);
      opacity: 1;
      transition: var(--transition);
    }
  }
}