.preview-container {
  text-align: center;
}

.preview-title {
  margin: 1rem 0 0;
}

.preview-subtitle {
  color: gray;
}

.sub-title2 {
  background: rgba(96, 96, 255, 0.3);
  padding: .5rem 1rem;
  border-radius: .5rem;
  width: fit-content;
  margin: 0 auto;
}

/* ==========pricelist========= */
.pricelist {
  background: var(--color-bg);
}